@page "/"

@using Stachio.Backend.Controller
@using Stachio.Backend.View.Enums

<h1>Hello, world!</h1>

Welcome to your new app.

<p>
<button @onclick=@OnTestGitVersion>Test me!</button>

<span>Git version: @gitVersion</span>
</p>

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{
    protected string gitVersion { get; set; } = string.Empty;

    // TODO some test code, remove this once done
    protected async Task OnTestGitVersion(MouseEventArgs mouseEventArgs)
    {
        var commandController = StacheCommandController.GetInstance();
        
        var command = commandController.MakeGitCommand("Git Version");
        commandController.AddGitCommandFlag(command, "--version", StacheCommandArgType.Flag);

        var result = await commandController.ExecuteGitCommandAsync(command);

        gitVersion = result.output;
    }
}
