@page "/"

@using Stachio.Backend.Model.Enums
@using Stachio.Backend.Model
@using Stachio.Backend.Utils

<h1>Hello, world!</h1>

Welcome to your new app.

<p>
<button @onclick=@OnTestGitVersion>Test me!</button>

<span>Git version: @GitVersion</span>
</p>

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{
    protected string GitVersion { get; set; }

    // TODO some test code, remove this once done
    protected async Task OnTestGitVersion(MouseEventArgs mouseEventArgs)
    {
        var command = new Command("Git Version");

        var execPath = "C:\\Program Files\\Git\\cmd\\git.exe";
        var commandString = "";
        var commandArg = "--version";
        command.SetExecutablePath(execPath);
        command.SetCommandString(commandString);
        command.AddCommandArgument(commandArg, ProcessArgumentType.Flag);

        await UISafeTask.Run(async () => await command.ExecuteCommandAsync());

        GitVersion = command.CommandOutput;
    }
}
